@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background-color: #0f172a;
  --card-bg-color: #1e293b;
  --primary-color: #3b82f6;
  --secondary-color: #64748b;
  --text-color: #f1f5f9;
  --hover-color: #2563eb;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}


h1, h3 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}